<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(../../../assets/img/carousel-1.jpg);">
  <div class="container-fluid page-header-inner py-5">
    <div class="container text-center pb-5">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Create Contract</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center text-uppercase">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Contract</a></li>
          <li class="breadcrumb-item text-white active" aria-current="page">Create</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<!-- Page Header End -->


<!-- Booking Start -->
<div class="container-xxl py-5">
  <div class="container">

    <div class="row g-5">
      <div class="col-lg-6">
        <div class="row g-3">
          <div class="col-6 text-end">
            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="../../../assets/img/about-1.jpg" style="margin-top: 25%;">
          </div>
          <div class="col-6 text-start">
            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="../../../assets/img/about-2.jpg">
          </div>
          <div class="col-6 text-end">
            <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="../../../assets/img/about-3.jpg">
          </div>
          <div class="col-6 text-start">
            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="../../../assets/img/about-4.jpg">
          </div>
        </div>
      </div>
<!--      <th>Start date</th>-->
<!--      <th>End date</th>-->
<!--      <th>Deposit</th>-->
<!--      <th>Total Money</th>-->
<!--      <th>Customer</th>-->
<!--      <th>Employee</th>-->
<!--      <th>Facility</th>-->

      <div class="col-lg-6">
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <form [formGroup]="contractForm" (ngSubmit)="createContract()">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="date" formControlName="startDate" class="form-control" id="start" placeholder="Start date">
                  <label for="start">Start date</label>
                </div>
                <p style="color: red" *ngIf="contractForm.controls.startDate.hasError('required')&& contractForm.controls.startDate.touched">
                  Not Null
                </p>
                <p style="color: red" *ngIf="contractForm.controls.startDate.hasError('pattern')&& contractForm.controls.startDate.touched">
                  Format: DD/MM/YYYY
                </p>

              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="date" formControlName="endDate" class="form-control" id="end" placeholder="End date">
                  <label for="end">End date</label>
                </div>
                <p style="color: red" *ngIf="contractForm.controls.endDate.hasError('required')&& contractForm.controls.endDate.touched">
                  Not Null
                </p>
                <p style="color: red" *ngIf="contractForm.controls.endDate.hasError('pattern')&& contractForm.controls.endDate.touched">
                  Format: DD/MM/YYYY
                </p>
                <p style="color: red" *ngIf="contractForm.hasError('invalidDate')&& contractForm.controls.startDate.touched">
                  End date must be after start date! Please choose again!
                </p>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <input type="text" formControlName="deposit" class="form-control" id="deposit" placeholder="Deposit">
                  <label for="deposit">Deposit</label>
                </div>
                <p style="color: red" *ngIf="contractForm.controls.deposit.hasError('required')&& contractForm.controls.deposit.touched">
                  Not Null
                </p>
                <p style="color: red" *ngIf="contractForm.controls.deposit.hasError('pattern')&& contractForm.controls.deposit.touched">
                  Format: positive numbers
                </p>
              </div>

              <div class="col-md-6">
                <div class="form-floating">
                  <select class="form-select" formControlName="customer" id="select1">
                    <option [ngValue]="null">--select--</option>
                    <option [ngValue]="id" *ngFor="let id of customers">{{id.customerName}}</option>
                  </select>
                  <label for="select1">Customer</label>
                  <p style="color: red" *ngIf="contractForm.controls.customer.hasError('required')&& contractForm.controls.customer.touched">
                    Not Null
                  </p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating">
                  <select class="form-select" formControlName="facility" id="select2">
                    <option [ngValue]="null">--select--</option>
                    <option [ngValue]="id" *ngFor="let id of facilities">{{id.facilityName}}</option>
                  </select>
                  <label for="select2">Facility</label>
                  <p style="color: red" *ngIf="contractForm.controls.facility.hasError('required')&& contractForm.controls.facility.touched">
                    Not Null
                  </p>
                </div>
              </div>


              <div class="col-md-6">
                <div class="form-floating">
                  <button class="btn btn-primary w-100 py-3" type="submit">Save</button>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <button class="btn btn-danger w-100 py-3" type="submit">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Booking End -->

