<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(../../../assets/img/carousel-1.jpg);">
  <div class="container-fluid page-header-inner py-5">
    <div class="container text-center pb-5">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Create Contract</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center text-uppercase">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Contract</a></li>
          <li class="breadcrumb-item text-white active" aria-current="page">Create</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<!-- Page Header End -->


<!-- Booking Start -->
<div class="container-xxl py-5">
  <div class="container">

    <div class="row g-5">
      <div class="col-lg-6">
        <div class="row g-3">
          <div class="col-6 text-end">
            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="../../../assets/img/about-1.jpg" style="margin-top: 25%;">
          </div>
          <div class="col-6 text-start">
            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="../../../assets/img/about-2.jpg">
          </div>
          <div class="col-6 text-end">
            <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="../../../assets/img/about-3.jpg">
          </div>
          <div class="col-6 text-start">
            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="../../../assets/img/about-4.jpg">
          </div>
        </div>
      </div>
<!--      <th>Start date</th>-->
<!--      <th>End date</th>-->
<!--      <th>Deposit</th>-->
<!--      <th>Total Money</th>-->
<!--      <th>Customer</th>-->
<!--      <th>Employee</th>-->
<!--      <th>Facility</th>-->

      <div class="col-lg-6">
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <form>
            <div class="row g-3">
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="date" class="form-control" id="start" placeholder="Start date">
                  <label for="start">Start date</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="date" class="form-control" id="end" placeholder="End date">
                  <label for="end">End date</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="text" class="form-control" id="deposit" placeholder="Deposit">
                  <label for="deposit">Deposit</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="text" class="form-control" id="money" placeholder="Total Money">
                  <label for="money">Total Money</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating">
                  <select class="form-select" id="customer">
                    <option value="0">--select--</option>
                    <option value="1">Tran Van A</option>
                    <option value="2">Tran Van B</option>
                  </select>
                  <label for="customer">Customer</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <select class="form-select" id="employee">
                    <option value="0">--select--</option>
                    <option value="1">Tran Van C</option>
                    <option value="2">Tran Van D</option>
                  </select>
                  <label for="employee">Employee</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <select class="form-select" id="facility">
                    <option value="0">--select--</option>
                    <option value="1">Villa Beach Front</option>
                    <option value="2">House Princess 01</option>
                  </select>
                  <label for="facility">Facility</label>
                </div>
              </div>


              <div class="col-md-6">
                <div class="form-floating">
                  <button class="btn btn-primary w-100 py-3" type="submit">Save</button>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <button class="btn btn-danger w-100 py-3" type="submit">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Booking End -->

