

<form class="dropdown-menu p-4" [formGroup]="loginForm" (ngSubmit)="createLogin()">
  <div class="mb-3">
    <label for="exampleDropdownFormEmail2" class="form-label">Email address</label>
    <input type="email" formControlName="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
  </div>
  <p style="color: red" *ngIf="loginForm.controls.email.hasError('required') && loginForm.controls.email.touched">
    not null</p>
  <p style="color: red" *ngIf="loginForm.controls.email.hasError('email') && loginForm.controls.email.touched">
    Email invalidate</p>
  <div class="mb-3">
    <label for="exampleDropdownFormPassword2" class="form-label">Password</label>
    <input type="password" formControlName="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
  </div>
  <p style="color: red" *ngIf="loginForm.controls.password.hasError('required') && loginForm.controls.password.touched">
    not null</p>
  <p style="color: red" *ngIf="loginForm.controls.password.hasError('minlength') && loginForm.controls.password.touched">
    Min length is 6</p>
  <div class="mb-3">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="dropdownCheck2">
      <label class="form-check-label" for="dropdownCheck2">
        Remember me
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>

