
<body>
<h1>calculator</h1>
  <label>Number 1 :</label>
  <input type="number" #number1/>
  <label>Number 2 :</label>
  <input type="number" #number2/>
<div>
  <button type="submit" #operation1 value="+" (click)="calculation(number1.value, number2.value, operation1.value)"> Addition (+)</button>
  <button type="submit" #operation2 value="-" (click)="calculation(number1.value, number2.value, operation2.value)"> Subtraction (-)</button>
  <button type="submit" #operation3 value="*" (click)="calculation(number1.value, number2.value, operation3.value)"> Multiplication (*)</button>
  <button type="submit" #operation4 value="/" (click)="calculation(number1.value, number2.value, operation4.value)"> Division (/)</button>
</div>
  <h1>Result:{{result}}</h1>
